<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body class="font-roboto flex h-screen items-center justify-center">
    <article
      class="mx-2 flex min-h-[400px] w-80 flex-col gap-2 rounded-xl border-2 border-black p-2"
    >
      <h1 class="mb-4 text-center text-2xl font-bold">Weather Widget</h1>
      <div
        id="weather-info"
        class="mb-4 flex-1 rounded-xl border-2 border-black p-2"
      ></div>
      <form method="get" id="location-search-form">
        <input
          class="mb-2 w-full rounded-xl border-2 border-black p-2"
          type="search"
          name="location"
          id="location-search"
          placeholder="Search for location"
          required
        />
        <button
          class="w-full rounded-xl border-2 border-black p-2 hover:bg-gray-200 active:bg-gray-300"
          type="submit"
        >
          Search
        </button>
      </form>
    </article>
  </body>
</html>
